# ========================================
# 🧠 Python & Virtual Environment
# ========================================
venv/
__pycache__/
*.py[cod]
*.so

# ========================================
# 🍏 macOS System Files
# ========================================
.DS_Store
.AppleDouble
.LSOverride

# ========================================
# 🔧 VSCode & IDEs
# ========================================
.vscode/
.idea/
*.swp

# ========================================
# 📦 Environment & Secrets
# ========================================
env_folder/.env.postgre.local
env_folder/.env.s3
env_folder/.env.postgre.docker
env_folder/.env.cognito
env_folder/.env.rds

# ========================================
# 📁 Dossiers générés automatiquement
# (structure de projet, fichiers de comparaison de version, exports, etc.)
# ========================================
tools/old versions/
Infrastructure/aws/s3/s3_exports/
user_exports/
back_end/api/dependencies/auth.py
back_end/database/initialize_db.py
back_end/database/models.py

# ========================================
# 🧪 Données temporaires & brutes
# ========================================
data/
# (inclut data/raw/, data/processed/, data/logs/, data/audio/, data/images/)

# ========================================
# 📚 Notebooks personnels (facultatif)
# ========================================
*.ipynb
notebooks/

# ========================================
# 📚 Notebooks personnels (facultatif)
# ========================================
best-practices/DataEngineering_Plan_FitnessAI.md
best-practices/personnal